.project
.pydevproject*
.Python
.DS_Store
.installed.cfg
.mr.developer*
.settings
*.pyc
bin
include
lib
eggs
develop-eggs
parts
src
*.egg-info
fragastaten/local_settings.py
fragastaten/whoosh_index
djcelery
local

